@charset "UTF-8";

:root {
    --cor0: #610CEB;
    --cor1: #3F236B;
    --cor2: #4C09B8;
    --cor3: #2C056B;
    --cor4: #EBEB00;
}

* {
    margin: 0px;
    padding: 0px;
}

 body{
    background-color: #4C09B8;
 }

header>div {
    background-image: url(imagens/Beginners-Guide-to-VALORANT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    color: var(--cor4);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
main{
    background-color: var(--cor4);
    margin: 40px;
    padding: 10px;
    color: var(--cor0);
    text-align: center;
    border-radius: 10px;

}

